@model MyShop.Product

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}

<div class="row">

    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-8 offset-sm-2 border px-4">
        
        <h2 class="text-center">Edit Product</h2>
        <form action="/Product/Update" method="post" class="mb-3" id="form" enctype="multipart/form-data">
            <input type="hidden" value="@Model.productID" name="id"/>
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="@Model.name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea type="text" name="desc" class="form-control" rows="5">@Model.description</textarea>
            </div>
            <div class="form-group">
                <label>Image:</label><br />
                <img src="/Images/@Model.PictureName" style="width: 200px;height:200px" />
                <input type="file" name="newImg" class="form-control" />
                <input type="hidden" name="img" value="@Model.PictureName" />
            </div>
            <div class="form-group">
                <label>Select Category</label>
                <select name="cat">
                    @foreach (var item in Helper.GetAllCategories())
                    {
                        if (item.ID == Model.categoryID)
                        {
                            <option value="@item.ID" selected>@item.name</option>
                        }
                        else
                        {
                            <option value="@item.ID">@item.name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" name="price" class="form-control" value="@Model.price" />
            </div>
           
           
            <div>
                <button type="submit" class="btn btn-primary btn-block" id="btn">Update Product</button>
            </div>
        </form>
    </div>
</div>