@model PatientForms.Cervical
<style>
    .my-bg {
        background-color: #9900ff;
    }

    .img1 {
        background-image: url('../../Images/face1.PNG');
        background-size: 100% auto;
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
    }

    .img2 {
        background-image: url('../../Images/face2.PNG');
        background-size: 100% auto;
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
    }

    input[type="checkbox"] {
        width: 20px; /*Desired width*/
        height: 20px; /*Desired height*/
    }
</style>
@{
    ViewBag.Title = "Edit";
    ViewBag.bg = "my-bg";
    ViewBag.FormName = "FACIAL/CERVICAL INJECTABLES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

@if (TempData["updateMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["updateMessage"]
    </div>
}
<div class="col-lg-10 offset-lg-1 mb-5">
    <form action="/Cervical/Update" method="post" id="form">
        <div class="form-group">
            <input type="text" class="form-control" name="patient_id" placeholder="Patient ID" value="@Model.patient_id" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="patient_name" placeholder="Patient Name" value="@Model.patient_name"/>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="img1 img-fluid">
                    @*<canvas id="mySketcher1"></canvas>*@
                    <img src="@Model.patient_img1"/>
                    <input type="hidden" name="patient_img1" value="@Model.patient_img1" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="img2 img-fluid">
                    @*<canvas id="mySketcher2"></canvas>*@
                    <img src="@Model.patient_img2" />
                    <input type="hidden" name="patient_img1" value="@Model.patient_img2" />
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="my-bg text-white">
                    <tr>
                        <th>DATE</th>
                        <th>AREA INJECTED</th>
                        <th>PRODUCT</th>
                        <th>AMOUNT</th>
                        <th>LOT #</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @if (Model.date1 != null)
                            {
                                <input type="date" name="date1" class="form-control" placeholder="DATE" value="@Model.date1.Value.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" name="date1" class="form-control" placeholder="DATE"  />
                            }
                        </td>
                        <td>
                            <input type="text" name="area1" class="form-control" placeholder="Area Injected" @Model.area1/>
                        </td>
                        <td>
                            <input type="text" name="product1" class="form-control" placeholder="Product" value="@Model.product1"/>
                        </td>
                        <td>
                            <input type="text" name="amount1" class="form-control" placeholder="Amount" value="@Model.amount1"/>
                        </td>
                        <td>
                            <input type="text" name="lot1" class="form-control" placeholder="LOT #" value="@Model.lot1"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.date2 != null)
                            {
                                <input type="date" name="date2" class="form-control" placeholder="DATE" value="@Model.date2.Value.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" name="date2" class="form-control" placeholder="DATE"  />
                            }
                        </td>
                        <td>
                            <input type="text" name="area2" class="form-control" placeholder="Area Injected" value="@Model.area2"/>
                        </td>
                        <td>
                            <input type="text" name="product2" class="form-control" placeholder="Product" value="@Model.product2"/>
                        </td>
                        <td>
                            <input type="text" name="amount2" class="form-control" placeholder="Amount" value="@Model.amount2"/>
                        </td>
                        <td>
                            <input type="text" name="lot2" class="form-control" placeholder="LOT #" value="@Model.lot2"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.date3 != null)
                            {
                                <input type="date" name="date3" class="form-control" placeholder="DATE" value="@Model.date3.Value.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" name="date3" class="form-control" placeholder="DATE"  />
                            }
                        </td>
                        <td>
                            <input type="text" name="area3" class="form-control" placeholder="Area Injected" value="@Model.area3"/>
                        </td>
                        <td>
                            <input type="text" name="product3" class="form-control" placeholder="Product" value="@Model.product3"/>
                        </td>
                        <td>
                            <input type="text" name="amount3" class="form-control" placeholder="Amount" value="@Model.amount3"/>
                        </td>
                        <td>
                            <input type="text" name="lot3" class="form-control" placeholder="LOT #" value="@Model.lot3"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.date4 != null)
                            {
                                <input type="date" name="date4" class="form-control" placeholder="DATE" value="@Model.date4.Value.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" name="date4" class="form-control" placeholder="DATE"  />
                            }
                        </td>
                        <td>
                            <input type="text" name="area4" class="form-control" placeholder="Area injected" value="@Model.area4"/>
                        </td>
                        <td>
                            <input type="text" name="product4" class="form-control" placeholder="Product" value="@Model.product4"/>
                        </td>
                        <td>
                            <input type="text" name="amount4" class="form-control" placeholder="Amount" value="@Model.amount4"/>
                        </td>
                        <td>
                            <input type="text" name="lot4" class="form-control" placeholder="LOT #" value="@Model.lot4"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.date5 != null)
                            {
                                <input type="date" name="date5" class="form-control" placeholder="DATE" value="@Model.date5.Value.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input type="date" name="date5" class="form-control" placeholder="DATE" />
                            }
                        </td>
                        <td>
                            <input type="text" name="area5" class="form-control" placeholder="Area Injected" value="@Model.area5"/>
                        </td>
                        <td>
                            <input type="text" name="product5" class="form-control" placeholder="Product" value="@Model.product5"/>
                        </td>
                        <td>
                            <input type="text" name="amount5" class="form-control" placeholder="Amount" value="@Model.amount5"/>
                        </td>
                        <td>
                            <input type="text" name="lot5" class="form-control" placeholder="LOT #" value="@Model.lot5"/>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-6">

                    <label>01. Patient pregnant or nursing?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.pregnant == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="pregnant" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="pregnant" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.pregnant == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="pregnant" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="pregnant" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>
                    <hr />

                    <label>02. ASA products in the past 10 days?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.products_in_10_days == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="products_in_10_days" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="products_in_10_days" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.products_in_10_days == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="products_in_10_days" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="products_in_10_days" />
                        }
                        <label class="form-check-label" for="cb8">0</label>
                    </div>
                    <hr />

                    <label>03. First time for treatment?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.first_treatment == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="first_treatment" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="first_treatment" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.first_treatment == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="first_treatment" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="first_treatment" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>
                    <hr />

                    <label>04. Pictures taken?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.pictures_taken == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="pictures_taken" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="pictures_taken" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.pictures_taken == 2)
                        {
                            <input class="form-check-input" type="checkbox" value="2" name="pictures_taken" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="2" name="pictures_taken" />
                        }
                        <label class="form-check-label" for="cb8">Pre</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.pictures_taken == 3)
                        {
                            <input class="form-check-input" type="checkbox" value="3" name="pictures_taken" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="3" name="pictures_taken" />
                        }
                        <label class="form-check-label" for="cb8">Post</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.pictures_taken == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="pictures_taken" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="pictures_taken" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>
                    <hr />

                    <label>05. Num-It Applied?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.num_it_applied == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="num_it_applied" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="num_it_applied" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.num_it_applied == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="num_it_applied" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="num_it_applied" />
                        }
                        <label class="form-check-label" for="cb8">Post</label>
                    </div>
                    <input type="text" name="num_it_applied_areas" class="form-control" placeholder="Areas" value="@Model.num_it_applied_areas"/>
                    <hr />

                    <label>06. Cryo 5 used?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.cyro_used == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="cyro_used" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="cyro_used" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.cyro_used == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="cyro_used" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="cyro_used" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>
                    <input type="text" name="cyro_used_areas" class="form-control" placeholder="Areas" value="@Model.cyro_used_areas"/>
                    <hr />

                    <label>07. Prone to cold scores?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.prone_to_cold == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="prone_to_cold" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="prone_to_cold" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.prone_to_cold == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="prone_to_cold" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="prone_to_cold" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>
                    <br />
                    <label>Vertes Rx given?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.vertex_given == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="vertex_given" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="vertex_given" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.vertex_given == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="vertex_given" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="vertex_given" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>

                    <div class="form-check form-check-inline">
                        @if (Model.vertex_given == 2)
                        {
                            <input class="form-check-input" type="checkbox" value="2" name="vertex_given" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="2" name="vertex_given" />
                        }
                        <label class="form-check-label" for="cb8">N/A</label>
                    </div>
                    <hr />

                    <label>08. 25G Cannula used for?</label>
                    <input type="text" name="25g_cannula_used_for" class="form-control" placeholder="25G Cannula used for" value="@Model.C25g_cannula_used_for"/>
                    <label>22G Cannula used for?</label>
                    <input type="text" name="22g_cannula_used_for" class="form-control" placeholder="22G Cannula used for" value="@Model.C22g_cannula_used_for"/>
                    <label>Needles used for:</label>
                    <input type="text" name="needles_used_for" class="form-control" placeholder="22G Cannula used for" value="@Model.needles_used_for"/>

                    <div class="mt-2">
                        <label>Filters</label>
                        <div class="form-check form-check-inline">
                            @if (Model.filters == 1)
                            {
                                <input class="form-check-input" type="checkbox" value="1" name="filters" checked/>
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" value="1" name="filters" />
                            }
                            <label class="form-check-label" for="cb8">N/A</label>
                        </div>
                    </div>
                    <hr />

                    <label>09. Cold get pack applied?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.cold_pack_applied == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="cold_pack_applied" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="cold_pack_applied" />
                        }
                        <label class="form-check-label" for="cb8">yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.cold_pack_applied == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="cold_pack_applied" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="cold_pack_applied" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>
                    <hr />

                    <label>10. Procedure tolerated?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.procedure_tolerated == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="procedure_tolerated" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="procedure_tolerated" />
                        }
                        <label class="form-check-label" for="cb8">well</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.procedure_tolerated == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="procedure_tolerated" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="procedure_tolerated" />
                        }
                        <label class="form-check-label" for="cb8">Some discomfort</label>
                    </div>
                    <hr />

                    <label>11. Post-treatment instructions reviewed?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.post_treatment_reviewed == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="post_treatment_reviewed" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="post_treatment_reviewed" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.post_treatment_reviewed == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="post_treatment_reviewed" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="post_treatment_reviewed" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>
                    <br />
                    <label>Given to patient?</label>
                    <div class="form-check form-check-inline">
                        @if (Model.given_to_patient == 1)
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="given_to_patient" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="1" name="given_to_patient" />
                        }
                        <label class="form-check-label" for="cb8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        @if (Model.given_to_patient == 0)
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="given_to_patient" checked/>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="0" name="given_to_patient" />
                        }
                        <label class="form-check-label" for="cb8">No</label>
                    </div>
                    <hr />
                </div>
                <div class="col-md-6">
                    <textarea style="width:100%;height:100%" placeholder="Notes" class="form-control" name="notes" >@Model.notes</textarea>
                </div>
            </div>
            <div class="col-md-6 offset-md-6">
                <label>Signature:</label>
            </div>
            <div class="col-md-6 offset-md-6 border">
                @*<canvas id="sign" style="border:solid 1px black;height:50px;width:500px"></canvas>*@
                <img src="@Model.Signature" />
            </div>
        </div>
        <br />
        <div class="col-md-4 offset-md-4"> 
            <input type="submit"  value="Update" class="btn btn-block my-bg text-white" />
        </div>
        <input type="hidden" id="signature" name="signature" />
    </form>
</div>

@*<script src="~/Scripts/atrament.min.js"></script>
<script type="text/javascript">
    var sketcher1 = atrament('#mySketcher1');
    var sketcher2 = atrament('#mySketcher2');
    var sketcher3 = atrament("#sign");

function Save()
{
    var dataURL1 = sketcher1.toImage();
    var dataURL2 = sketcher2.toImage();
}

function SubmitForm()
{
    if(sketcher1.dirty)
        $("#patient_img1").val(sketcher1.toImage());
    if(sketcher2.dirty)
        $("#patient_img1").val(sketcher1.toImage());
    if (sketcher3.dirty)
        $("#signature").val(sketcher3.toImage());
    $("#form").submit();

}
function clear()
{
    sketcher1.clear();
}
</script>*@



